.container {
    width: 100%;
    display: flex;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form > * {
    margin-bottom: 8px;
    line-height: normal;
    font-family: "kalame";
}
.form span {
    color: var(--alert-color)
}
.form input {
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    width: 80%;
    padding: 8px;
}
.form button {
    width: 130px;
}
@media screen and (max-width: 670px) {
    .form input {
        width: 100%;
    }
}