.input {
    border: 1px solid var(--input-border-color);
    padding: 0px 5px;
    font-size: 14px;
    width: 200px;
    font-family: 'kalame';
}

.input:focus {
    border: 1px solid var(--input-border-color);
    outline: none;
}